# Data Type

1. Numerical data type   : int, float, complex
2. Text data type        : string
3. Sequence data Type    : list, tuple, range
4. Mapping data type     : Dictionary (key value pair)
5. Set Data type         : set , frozen set
6. Boolean Data type     : bool (True , False)
7. Binary Data Type      : bytes, bytesarray
8. None Data type        : None
    
Fundamental data types >> int, float, complex, str,bool

In [ ]:
To check data type we have function >> type()

# 1. int

In [ ]:
int :
    1. Whole number
    2. +ve and -ve
    3. without decimal
    4. e.g. 1,2,0,-5,-7

In [2]:
x = 30
type(x)

int

In [5]:
x = 40
print(f"Data type of {x} is {type(x)}")

Data type of 40 is <class 'int'>

# Home work
x = 40
print(f"Data type of {x =} variable is {type(x)}")

In [6]:
a= 10
b= 20

add = a+b
print(add)

30

# Indentation

In [9]:
a = 54
 b = 67

IndentationError: unexpected indent (<ipython-input-9-df2e977f762e>, line 2)

In [12]:
 a = 10
b = 20

In [ ]:
function  >> block of resuable code

In [13]:
def Addition():
    a = 10
    b = 20
    add = a+b
    return add

In [15]:
Addition()

30

In [22]:
def Addition(a,b):
    add = a+b
    return add

print("Testing Function")

Testing Function

In [23]:
Addition(200,60)

260

In [17]:
Addition(34,45)

79

In [18]:
Addition(20,60)

80

In [25]:
a = 1045454533434
type(a)

int

In [26]:
a = 0
type(a)

int

In [27]:
a = -45
type(a)

int

# 2. float

In [ ]:
Positive or negative value with decimal point

In [28]:
x = 5.65
type(x)

float

In [29]:
y = 3.14
type(y)

float

In [30]:
y = -3.14
type(y)

float

In [31]:
y = 0.0
type(y)

float

# 3. Complex number

In [ ]:
It contains real and imaginary part

In [32]:
a = 3 + 5j
type(a)

complex

In [33]:
a = 5j
type(a)

complex

In [34]:
a = 0 + 5j
type(a)

complex

In [36]:
a = 6 - 5j
type(a)

complex

In [35]:
a = 0 - 5j
type(a)

complex

In [37]:
a = 0j
type(a)

complex

# Type casting

In [ ]:
We can convert one data type value into another data type

1. Implicit :Python internally do type conversion depending upon given condition

In [38]:
a = 10
b = 20.50

add = a+b

print(add,type(add))

30.5 <class 'float'>

In [ ]:
2. Explicit : We do type casting as per our requirement

In [ ]:
1. int to float
2. float to int 
3. int to complex
4. float to complex
5. complex to int
6. complex to float

# 1. int to float

In [39]:
x = 35
type(x)

int

In [41]:
print(float(x))

35.0

In [44]:
a = 46
b = float(a)

print(a ,type(a))
print(b,type(b))

46 <class 'int'>
46.0 <class 'float'>

In [43]:
a = 46
a = float(a) # 46.0

print(a ,type(a))

46.0 <class 'float'>

In [45]:
a = 6
a = a+5   # 6+5 = 11

print(a)

11

# 2. float to int

In [49]:
x = 6.43
type(x)

float

In [50]:
x = 6.43
y = int(x)
y

6

In [51]:
type(x)
type(y)

int

# 3. int to complex

In [52]:
x = 20
type(x)

int

In [57]:
x = 20
y = complex(x)
print(y,type(y))

(20+0j) <class 'complex'>

In [58]:
x = 20
y = complex(x)
print(y,">>>",type(y))

(20+0j) >>> <class 'complex'>

# 4. float to complex

In [59]:
a = 6.87
type(a)

float

In [60]:
a = 6.87
b = complex(a)

print(b,type(b))

(6.87+0j) <class 'complex'>

In [61]:
a = 6.87
a = complex(a)

print(a,type(a))

(6.87+0j) <class 'complex'>

# 5. complex to int

In [ ]:
we cant convert complex to int

In [62]:
a = 4 + 5j

type(a)

complex

In [63]:
a = 4 + 5j

int(a)

TypeError: can't convert complex to int

# 6. complex to float

In [64]:
a = 4 + 5j

float(a)

TypeError: can't convert complex to float

# String

In [ ]:
collection of charcter surrounded by single quotes, double quotes  or triple quotes
We can not use single quote inside single qoute
we can not use double quotes inside double quote

In [66]:
var1 = 'Sachin'
var2 = "Sachin"
var3 = """Sachin"""


print(var1,type(var1))
print(var2,type(var2))
print(var3,type(var3))

Sachin <class 'str'>
Sachin <class 'str'>
Sachin <class 'str'>

In [67]:
string = 59
type(string)

int

In [68]:
string = "59"
type(string)

str

In [69]:
string = 'This is Sachin's laptop'

SyntaxError: invalid syntax (<ipython-input-69-f535e93ca0e5>, line 1)

In [71]:
string = "This is Sachin's laptop"
print(string)

This is Sachin's laptop

In [72]:
string = 'This is Sachin's laptop'
print(string)

SyntaxError: invalid syntax (<ipython-input-72-1080fd311885>, line 1)

In [73]:
string = 'This is Sachin\'s laptop'  # backlash (\) >> escape character

This is Sachin's laptop

# input

In [74]:
a = 10 
b = 20

add = a + b 
print(add)

30

In [76]:
a = input("Enter the value :")
type(a)

Enter the value :45

str

In [77]:
a = int(input("Enter the value :"))  # int("45") >> 45
type(a)

Enter the value :45

int

In [78]:
a = input("Enter the value :")
type(a)

Enter the value :5.6

str

In [79]:
a = float(input("Enter the value :"))
type(a)

Enter the value :5.6

float

# eval function

In [80]:
a = eval(input("Enter the value :")) # automatic type casting 
type(a)

Enter the value :6.5

float

In [81]:
a = eval(input("Enter the value :"))
type(a)

Enter the value :45

int

# string concatenation

In [82]:
a = "5"
b = "5"

add = a + b
print(add)

55

In [83]:
a = "Bharat"
b = "mata"
c = "ki"
d = "jay"

add = a + b + c + d
print(add)

Bharatmatakijay