# String

In [ ]:
String is collection of character surrounded by single quotes, double quotes  or triple quotes

>> We can not use single quote inside single qoute >> 'Sachin'
>> we can not use double quotes inside double quote >>"Sachin"
>> we can not use Triple quotes inside Triple quote >> """Sachin""" ,'''Sacihin'''


character >> Alphabets(a-z,A-Z), Diigits(0-9), special character (@,#,$,%,^,&,* etc), space

In [1]:
string = "Python"
print(string)

Python

In [2]:
string = 'Python'
print(string)

Python

In [3]:
string = """Python"""
print(string)

Python

In [4]:
var = "we are learning Python and Data science"
print(var)

we are learning Python and Data science

In [5]:
var = "we are learning Python and "Data science""
print(var)

SyntaxError: invalid syntax (<ipython-input-5-d6bdb187559d>, line 1)

In [6]:
var = "we are learning Python and 'Data science'"
print(var)

we are learning Python and 'Data science'

In [8]:
var = "we are learning Python and \"Data science\""
print(var)

we are learning Python and "Data science"

In [10]:
var = "we are learning Python and 'Data science'"
print(var)

we are learning Python and 'Data science'

In [9]:
str1 = 12345
type(str1)

int

In [11]:
str1 = '12345'
type(str1)

str

In [12]:
str1 = "Python@#$"
print(str1)

Python@#$

In [13]:
str1 = "123Python@#$"
print(str1)

123Python@#$

In [14]:
str1 = "   123Python@#$"
print(str1)

   123Python@#$

In [15]:
DS = "Data science is an interdisciplinary academic field that uses statistics, scientific computing, scientific methods, processes, algorithms and systems to extract or extrapolate knowledge and insights "
print(DS)

Data science is an interdisciplinary academic field that uses statistics, scientific computing, scientific methods, processes, algorithms and systems to extract or extrapolate knowledge and insights

In [16]:
DS = """Data science is an interdisciplinary academic field that uses statistics, 
scientific computing, scientific methods, processes, algorithms and systems to 
extract or extrapolate knowledge and insights """

print(DS)

Data science is an interdisciplinary academic field that uses statistics,
scientific computing, scientific methods, processes, algorithms and systems to
extract or extrapolate knowledge and insights

In [17]:
def Additon(a,c): #Addditon Function
    #Data science is an interdisciplinary academic field that uses statistics, 
    #scientific computing, scientific methods, processes, algorithms and systems to 
    #extract or extrapolate knowledge and insights
    add = a+b
    return add

In [18]:
def Additon(a,c): #Addditon Function
    """Data science is an interdisciplinary academic field that uses statistics, 
    scientific computing, scientific methods, processes, algorithms and systems to 
    extract or extrapolate knowledge and insights"""
    add = a+b
    return add

# Escape Character

In [ ]:
1. backslash is Escape character

In [20]:
var = "we are learning Python and "Data science""
print(var)

SyntaxError: invalid syntax (<ipython-input-20-d6bdb187559d>, line 1)

In [19]:
var = "we are learning Python and \"Data science\""
print(var)

we are learning Python and "Data science"

# 2. \n >> New Line

In [21]:
var = "we are learning Python and Data science"
print(var)

we are learning Python and Data science

In [23]:
var = "we are learning \nPython and Data science"
print(var)

we are learning
Python and Data science

In [24]:
var = "we are learning \nPython and \nData science"
print(var)

we are learning
Python and
Data science

In [25]:
var = "we are \nlearning \nPython and \nData science"
print(var)

we are
learning
Python and
Data science

In [30]:
path = "‪E:\03 Jun EVe\06_09_String"
print(path)

‪E: Jun EVe_09_String

In [35]:
path2 = "E:\Jun EVe\String\new folder"
print(path2)

E:\Jun EVe\String
ew folder

In [28]:
path2 = "E:\\03 Jun EVe\\06_09_String\\new folder"
print(path2)

E:\03 Jun EVe\06_09_String\new folder

In [29]:
path2 = r"E:\03 Jun EVe\06_09_String\new folder"
print(path2)

E:\03 Jun EVe\06_09_String\new folder

# 3. \t

In [39]:
path2 = "E:\Jun EVe\String\templates"
print(path2)

E:\Jun EVe\String	emplates

In [40]:
path2 = r"E:\Jun EVe\String\templates"
print(path2)

E:\Jun EVe\String\templates

# Type casting

# Int to string

In [41]:
a = 10
type(a)

int

In [42]:
a = str(a)
print(a, type(a))

10 <class 'str'>

# 2. Float to string

In [43]:
a = 10.5
type(a)

float

In [44]:
a = str(a)
type(a)

str

In [45]:
a

'10.5'

# string to int

In [46]:
a  = "27"
type(a)

str

In [47]:
a = int(a)
print(a,type(a))

27 <class 'int'>

# string to float

In [64]:
a1 = "38.89"
# type(a)
a1

'38.89'

In [66]:
a1 = float(a1)

print(a, type(a))

bharat <class 'str'>

In [67]:
a1

38.89

In [55]:
type(a)

float

In [58]:
var

'New_string'

In [60]:
var = "String"
var

'String'

In [69]:
var = "New_string"
var

'New_string'

# len()  function:

In [ ]:
len() >> check the length of string

In [70]:
len(var)

10

In [71]:
DS = """Data science is an interdisciplinary academic field that uses statistics, 
scientific computing, scientific methods, processes, algorithms and systems to 
extract or extrapolate knowledge and insights """

len(DS)

201