In [ ]:
Conditional Statement >> Decision Making Statement

In [ ]:
if
elif
else

In [ ]:
valid Syntax:
    
    if
    if - else
    if - elif
    if - elif - elif
    if - elif - else
    if - elif - elif - elif -else
    
Invalid:
    
    elif
    elif - else
    elif - elif - else
    else

# Syntax

In [ ]:
if condition : #True/False
    statement1
    statement2
    statement3
    
elif condition2:#True/False
    statement4
    statement5
    statement6
    
else:
    statement7
    statement8
    statement9

In [ ]:
if condition : #True/False
    statement1
    statement2
    statement3
    
elif condition2:#True/False
    statement4
    statement5
    statement6
    
elif condition3:#True/False
    statement4
    statement5
    statement6
    
else:
    statement7
    statement8
    statement9

In [ ]:
if condition : #True/False
    statement1
    statement2
    statement3
    
elif condition2:#True/False
    statement4
    statement5
    statement6

In [ ]:
if condition : #True/False
    statement1
    statement2
    statement3
    

else:
    statement7
    statement8
    statement9

In [2]:
str1 = "I am very talented"
str1.isupper()

False

In [5]:
str1 = "i am very talented"

if str1.islower():#True
    print("All char are in lower case")

All char are in lower case

In [7]:
str1 = "I am very talented"

if str1.islower():#False
    print("All char are in lower case")
    
print("You are good Data Scientist")

You are good Data Scientist

In [8]:
str1 = "I am very talented"

if str1.islower():#False
    print("All char are in lower case")
    
    print("You are good Data Scientist")

In [9]:
str1 = "i am very talented"

if str1.islower():#True
    print("All char are in lower case")
    
    print("You are good Data Scientist")

All char are in lower case
You are good Data Scientist

In [11]:
str1 = "i am very talented"

if str1.islower():#True
     print("All char are in lower case")
    
    print("You are good Data Scientist")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [12]:
str1 = "I am very talented"

if str1.islower():#False
    print("All char are in lower case")
    
else:
    print("All char are not in lower case")

All char are not in lower case

In [13]:
str1 = "i am very talented"

if str1.islower():#True
    print("All char are in lower case")
    
else:
    print("All char are not in lower case")

All char are in lower case

In [14]:
x = 30
y = 40

if x > y: #False
    print("x is greator than y")
    
else:
    print("x is less than y")

x is less than y

In [15]:
x = 30
y = 40

if x > y: #False
    print(f"{x} is greator than {y}")
    
else:
    print(f"{x} is less than {y}")

30 is less than 40

In [17]:
x = 40
y = 40

if x > y: # false
    print(f"{x} is greator than {y}")
    
elif x==y:#40==40 >> True
    print(f"{x} and {y} are equal")
    
else:
    print(f"{x} is less than {y}")

40 and 40 are equal

In [16]:
40==40

True

In [19]:
x = 40
y = 40

if x > y: # false
    print(f"{x} is greator than {y}")
    
    
else:
    print(f"{x} is less than {y}")

40 is less than 40

In [ ]:
#HomeWork
Find largest number between below numbers
a = 10
b = 20
c = 30

# operators

### 1. Comaparision Operator

In [ ]:
1. x == y  >> Equal Operator
2. x != y  >> Not Equal Operator
3. x > y   >> Greator than Operator
4. x < y   >> Less than Operator
5. x >= y  >> greator than or equal to
6. x <= y  >> less than or equal to

In [20]:
a= 30
b = 40

a==b

False

In [21]:
a>b

False

In [22]:
a>b

False

In [23]:
a >= b

False

In [24]:
a <= b

True

# Logical Operator

In [ ]:
1. and
2. or
3. not

# and

In [ ]:
True and True  >> True
True and False >> False
False and True >> False
False and False>> False

# or

In [ ]:
True or True  >> True
True or False >> True
False or True >> True
False or False>> False

In [25]:
a = 30
b = 40
c = 60

if a > b : #false
    print("Hello")

In [26]:
a = 30
b = 40
c = 60

if b > a : #True
    print("Hello")

Hello

In [27]:
a = 30
b = 40
c = 60

if a > b and a > c : #False and Flase >> False
    print("a is largest number")

In [28]:
a = 30
b = 40
c = 60

if a > b or a > c : #False and Flase >> False
    print("a is largest number")

In [29]:
a = 300
b = 40
c = 60

if a > b or a > c : #True and True >> True
    print("a is largest number")

a is largest number

In [30]:
a = eval(input("Enter value of a:"))

Enter value of a:a

In [31]:
a=10
a

10

In [32]:
print(a)

10